body {
    margin: 0;
}

@keyframes move-in-square {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 500px;
    }
    50% {
        top: 500px;
        left: 500px;
    }
    75% {
        top: 500px;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

.square {
    position: absolute;

    width: 50px;
    height: 50px;

    border: 5px solid red;

    animation-name: move-in-square;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}