/* 
 * Hero declarations
 */

#hero {
    min-height: 92.5vh;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(29,30,44);
    background: linear-gradient(180deg, rgba(29,30,44,1) 0%, rgba(29,29,29,1) 100%);
}

#hero .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    text-align: center;
    font-size: 90px;
    margin: 0.1em;
    color: #f9faf8;
}

#hero p {
    font-size: 24px;
    font-weight: 700;
    color: #e5e7eb;
}

/* 
 * About declarations
 */

#about {
    min-width: 100vw;
    min-height: 1100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(29,29,29);

    color: #A69E93;
}

#about .inner {
    flex-direction: column;
}

#about h2 {
    font-size: 100px;

    margin-bottom: 0.25em;

    color: #f9faf8;
}

#about-me p {
    font-size: 20px;
}

#info {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

#info h3 {
    color: #f9faf8;
}

#personal {
    flex: 1;

    margin-right: 50px;

    font-size: larger;
    line-height: 40px;
}

#skills {
    flex: 1;

    margin-left: 50px;
}

#skills ul {
    list-style-type: none;

    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

#skills li {
    background-color: #26292A;
    padding: 15px 2px;
    text-align: center;
    border-radius: 15px;
}

/* 
 * Project declarations
 */

#projects {
    min-width: 100vw;
    min-height: 1000px;

    background-color: #464848;

    display: flex;
    justify-content: center;

    color: #e5e7eb;
}

#projects .inner {
    flex-direction: column;
}

#projects h2 {
    font-size: 100px;

    margin-bottom: 0.25em;

    color: #f9faf8;
}

#projects p {
    font-size: 20px;
}

#projects-list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project .project-title {
    color: #f9faf8;
    text-decoration: none;
}