#project-info {
    min-height: 500px;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background: rgb(29,30,44);
    background: linear-gradient(180deg, rgba(29,30,44,1) 0%, rgba(29,29,29,1) 100%);
}

#project-info h2 {
    font-size: 100px;

    margin-bottom: 0.25em;

    color: #f9faf8;
}

#project-info p {
    font-size: 24px;
    font-weight: 700;

    color: #e5e7eb;
}

#project-info a {
    font-size: 24px;
    font-weight: 700;

    text-decoration: none;

    color: #e5e7eb;
}

#project-info a:hover {
    text-decoration: underline;
}

#game {
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(29,29,29);
}