/* Universal Declarions */

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.inner {
    display: flex;
    flex: 0 1 1200px;
}

/* Header declarations */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FF90BC;
}

header .inner {
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #F9F9E0;
}

header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 30px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #F9F9E0;
}

/* Page 1 declarations */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-1 {
    display: flex;
    background-color: #FF90BC;
    min-width: 100vw;
    min-height: 450px;
    justify-content: center;
    align-items: center;
}

.page-1 .inner {
    gap: 150px;
}

.page-1 .text {
    flex: 3;
}

.page-1 .img {
    flex: 4;
}

.page-1 h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9F9E0;
    margin: 0;
}

.page-1 p {
    font-size: 18px;
    color: #F9F9E0;
}

.page-1 button {
    background-color: #8ACDD7;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.page-1 .video {
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}